
.login{
    background: white;
    text-decoration-color: green;
    color: green;
}


.main-trends1{
    display: flex;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.tipo-indica{
    text-justify: newspaper;
    width: 93.3%;
}




.title-pg{
    text-justify: center;
    text-size-adjust: 50px;
}
