:root {
  --color: black; }

.nav-links {
  display: flex;
  position: sticky; }y
  .nav-links li {
    list-style: none;
    text-align: center;
    padding: 0.7rem; }
    .nav-links li:active, .nav-links li:hover {
      background-color: var(--color);
      transition: 1.1s ease; }
  .nav-links a {
    color: pink;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
    width: 12rem; }

:root {
  --font:'Courier New', Courier, monospace;
  --mcolor: blue; }

.user-card {
  font-family: var(--font);
  color: var(--mcolor); }
  .user-card:active {
    color: white; }
