/* Archivos de Estilos 
Aca se indican los estilos de la pagina organization */




a{
    text-decoration: none;
    text-align: center;
    color: #FDFEFE;
    position: relative;
    display: block;
}

li{
    display:block;
    box-sizing: content-box;
}

.title-pg{
    visibility: hidden;
    margin-top: 0.1rem;  
}

li:hover{
    display:flex;
    box-sizing: content-box;
    background:red;
}

.section-main{
    margin-bottom: 6rem;

}

.team-member{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition: all  0.7s ease-in-out; 
}

.member-image:hover{
    box-shadow: 5rem;
    transform: translateY(-1rem);
}
.member-text{
    font-family: 'Segoe UI', Verdana;
    font-size: 1rem;
    color: black;

}




