/* Archivos de Estilos 
Aca se indican los estilos de la pagina products */

a{
    text-decoration: none;
    text-align: center;
    color: #FDFEFE;
    position: relative;
    display: block;
}

li{
    display:block;
    box-sizing: content-box;
}

.title-pg{
    visibility: hidden;
    margin-top: 0.1rem;
}

li:hover{
    display:flex;
    box-sizing: content-box;
    background:orange;
}

.main-productos{
    position: relative;
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items:center;
    cursor: pointer;
    transition: all  0.7s ease-in-out; 
}

.products-image:hover{
    box-shadow: 5rem;
    transform: translateY(-5rem);
    
}

.products-image{
    width: 25%;   
}
